body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Calibri, Arial
}

.car {
    position: absolute;
    width: 10px;
    height: 20px;
    /* background-color: black; */
    left: 75px;
}

.a1 {
    position: absolute;
    width: 3px;
    height: 5px;
    /* background-color: brown; */
    left: -3px;
}

.a2 {
    position: absolute;
    width: 3px;
    height: 5px;
    /* background-color: brown; */
    left: 10px;
}

.a3 {
    position: absolute;
    width: 3px;
    height: 5px;
    /* background-color: brown; */
    left: 10px;
    top: 15px;
}

.a4 {
    position: absolute;
    width: 3px;
    height: 5px;
    /* background-color: brown; */
    left: -3px;
    top: 15px;
}

.a5 {
    width: 7px;
    height: 7px;
    /* background-color: red; */
    position: absolute;
    top: 20px;
    left: 2px;
}

.map {
    position: relative;
}

.row {
    display: flex;
}

.button{
    display: block;
    margin-top:5px;
    margin-bottom:5px;
}

.single-block {
    width: 7px;
    height: 7px;
    /* border: 1px solid black; */
}

.is-black {
    background-color: black;
}

.is-red {
    background-color: red;
}

.a6 {
    width: 7px;
    height: 7px;
    /* background-color: red; */
    position: absolute;
    top: 13px;
    left: 9px;
}

.car1 {
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: red;
}

.car2 {
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: green;
}

.car3 {
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: black;
}

.wheel1 {
    position: absolute;
    width: 3px;
    height: 5px;
    background-color: aqua;
    top: 0;
    left: -3px;
}

.wheel2 {
    position: absolute;
    width: 3px;
    height: 5px;
    background-color: aqua;
    left: 10px;
}

.wheel3 {
    position: absolute;
    width: 3px;
    height: 5px;
    background-color: aqua;
    left: 10px;
    top: 15px;
}

.wheel4 {
    position: absolute;
    width: 3px;
    height: 5px;
    background-color: aqua;
    left: -3px;
    top: 15px;
}

.info{
    position: absolute;
    left: 100px;
    top: 50px;
}

.border{
    position: absolute;
    top: 0px;
    left: 100px;
    width:300px;
}
